<div class="container">
  <h2>LOGIN</h2>
</div>

<div class="container">
  <% if @entry %>
  <ul>
    <% @entry.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>
</div>

<div class="container">
  <form method="post" action="/session/new">
    <input type="email" name="email" placeholder="Email"><br>
    <input type="password" id="password" name="password_hash" placeholder="Password"><br>
    <input type="submit" value="Login">
  </form>
</div>

