<div>
  <% @results.each do |name, res| %>
    <div>
      <h2> Deck <%= name %>: <h2>
      <table>
        <tr><td>Correct Guesses on First Try</td><td>Total Guesses</td><td>Date</td></tr>
        <% res.each do |hsh| %>
        <tr>
          <td><%= hsh[:first_guess] %></td>
          <td><%= hsh[:total_guesses]%></td>
          <td><%= hsh[:update_time] %></td>
        </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
