

<p><%= @card.question %>

  <form action="/guesses" method="post">
    <label for="guess">Your Guess:</label>
    <input type="text" name="response"/>
    <input type="submit" value="Submit" class="button">
  </form>
