<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <% if !session[:user_id] %>
    <a href="/session">LOGIN</a>
    <a href="/users/new">SIGNUP</a>
  <% else %>
    <%= session[:username] %>
    <a href="/session"></a>
  <%end%>
  <h1><a href="/">BestFlashcardsite.com</a><h1>
    <h4>Much better than anyone else's flashcard site, I think</h4>
  <%= yield %>
</body>
</html>
