<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
  <li class="name">
    <h1><a href="/">BestFlashcardsite.com</a></h1>
      </li>
    </ul>

<section class="top-bar-section">
  <ul class="right">
  <% if !session[:user_id] %>
    <li><a href="/session">LOGIN</a></li>
    <li><a href="/users/new">SIGNUP</a></li>
  <% else %>
    <li><a href="/users/<%= session[:user_id]%>">Hello, <%= session[:username] %></a></li>
    <li class="active"><form method="post" action="/session">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Logout" class="button">
    </form></li>
  <%end%>
  </ul>
        </nav>
        <h5>Much better than anyone else's flashcard site, I think</h5>

    <div class="row">


      <div class="small-6 small-centered columns">
  <%= yield %>
      </div>
    </div
</body>
</html>

